.fade-enter-active, .fade-leave-active {
    transition: opacity 2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
.createButtonStyle{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}
.lineContainer{
    display: inline-block;
    margin-left: 20px;
}
.treeContainer{
    width: 400px;
}
