.fade-enter-active, .fade-leave-active {
    transition: opacity 2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
.createButtonStyle{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}

.demo-drawer-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    background: #fff;
}
.lineContainer{
    display: inline-block;
    margin-left: 20px;
}
/*.tableContainer{*/
    /*margin-top: 10px;*/
/*}*/